<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
  <link rel="stylesheet" href="css/game.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <!-- Example single danger button -->
  <!-- <h1 id="level-title">Press A Key to Start</h1> -->
  <div class="container">
    <div class="row">

      <div type="button" id="green" class="btn green pressed">
       <!-- SIMON -->
       SIMON
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/backToHome.js">

  </script>
  <script type="text/javascript">
    document.querySelector("#green").addEventListener("click",function(){
      window.location.replace(
  "https://dummy-mobile-2rzq.onrender.com/games/simon"
    );
    });
  </script>
  </body>
</html>
