<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
  <link rel="stylesheet" href="css/homePage.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <!-- Example single danger button -->
  <!-- <h1 id="level-title">Press A Key to Start</h1> -->
  <div class="container">
    <div class="row">

      <div type="button" id="green" class="btn green pressed">
       TOOLS
      </div>

      <div type="button" id="red" class="btn red pressed">
       GAMES
      </div>
    </div>
    <h1 id="level-title">Dummy Mobile</h1>
    <div class="row">

      <div type="button" id="yellow" class="btn yellow pressed">
       NOTES
      </div>
      <div type="button" id="blue" class="btn blue pressed">
       ABOUT ME
      </div>

    </div>
  </div>
   <script type="text/javascript" src="js/homePage.js">
   </script>
   <script type="text/javascript">
   document.querySelector("#red").addEventListener("click",function(){
    window.location.replace(
   "https://dummy-mobile-2rzq.onrender.com/games"
   );
   });
   document.querySelector("#green").addEventListener("click",function(){
    window.location.replace(
      "https://dummy-mobile-2rzq.onrender.com/tools"
   );
   });
   document.querySelector("#yellow").addEventListener("click",function(){
    window.location.replace(
      "https://dummy-mobile-2rzq.onrender.com/notes"
   );
   });
   document.querySelector("#blue").addEventListener("click",function(){
    window.location.replace(
      "https://dummy-mobile-2rzq.onrender.com/aboutMe"
   );
   });
   </script>
  </body>
</html>
