<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/homePage.css">
  </head>
  <body>
    <!-- Example single danger button -->
  <!-- <h1 id="level-title">Press A Key to Start</h1> -->
  <div type="button" class="btn frame black">
    <div class="row">
      <div type="button" class="btn red app games pressed">
      </div>
      <div type="button" class="btn red app to-do-list pressed">
      </div>
    </div>
    <div class="row">
      <div type="button" class="btn red app notes pressed">
      </div>
      <div type="button" class="btn red app weather pressed">
      </div>
    </div>
    <h1>Dummy</h1>
    <script type="text/javascript">
     document.querySelector(".games").addEventListener("click",function(){
      window.location.replace("https://dummy-mobile-2rzq.onrender.com/games");
     })
     document.querySelector(".to-do-list").addEventListener("click",function(){
      window.location.replace("https://dummy-mobile-qa5y.onrender.com/notes/to-do-list");
     })
     document.querySelector(".notes").addEventListener("click",function(){
      window.location.replace("https://dummy-mobile-qa5y.onrender.com/notes/notesHandler");
     })
     document.querySelector(".weather").addEventListener("click",function(){
      window.location.replace("https://dummy-mobile-qa5y.onrender.com/weather");
     })
    </script>
  </div>
  </body>
</html>
