<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Resume</title>
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body style="background-color: #011F3F; color:white">
      <table cellspacing="30" >
      <tr>
        <td>
           <img src="images/photo.png" alt="shubham image">
        </td>
        <td>
           <h1><i>Shubham Singh</i></h1>
           <p><h4>+919991957166 &nbsp| &nbspkaithal,Haryana</h4>
           <h4>shubham_12015026@nitkkr.ac.in</h4>
           <a href="https://auth.geeksforgeeks.org/user/shubh_2002/practice" target="_blank">GFG</a> | <a href="https://leetcode.com/shubh_2002/" target="_blank">Leetcode</a> |
           <a href="https://github.com/shubham-shubh" target="_blank">Github</a>
        </td>
      </tr>
    </table>
     <hr>
    <h1>Education</h1>
    <table border="4" width="42" >
      <tr><th>Degree</th><th>Institution</th><th>Year of Completion</th><th>Score(CGPA/percentage)</th></tr>
      <tr><td>Electronics and Communication Enginner(B.tech)</td><td>National Institute of Technology, Kurukshetra</td><td>2024(expected)</td><td>9.17(till 5th semester)</td></tr>
      <tr><td>12th</td><td>M.D.N Global School,Kaithal</td><td>2020</td><td>93.2%</td></tr>
      <tr><td>10th</td><td>O.S.D.A.V Public School,Kaithal</td><td>2018</td><td>94.8%</td></tr></table><hr>
      <h1>Skills</h1>
      <ul>
        <li><b>Languages:</b>C++,C,javascript,SQL
        <li><b>Primary Tech Skills:</b>Data Structures and Algorithms, Object-oriented Programming
      </ul><hr>
      <h1>Projects</h1><ul><li><b>Let's Chat App:</b>A Gym website using Html, Css and Javascript<li><b>Tic-Tac-Toe game:</b>A simple C++ Console application<li><b>Bank Record System:</b>
      A C++ application to make a record of bank</ul>
      <hr><h1>Achievements</h1>
      <ul><li><b>Second </b>prize in <b>State Basketball Tournament, Haryana</b><li>Selected for<b> cub and bulbul SCOUTS</b><li><b>Second</b> prize in <b>Proteus</b> competition in<b> Techspardha 2022</b>
        <script type="text/javascript">
        document.addEventListener("dblclick",function(){
          window.location.replace(
        "https://dummy-mobile-2rzq.onrender.com"
        );
        });

        </script>
  </body>
</html>
