<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="../css/weather.css">
  </head>
  <body>
  <div class="header">
  <form  action="/weather" method="post">
  <div>
  <label for="city">City</label>
</div>
  <input  style="width: 300px; height: 30px" type="text" name="city" value="">
<div>
  <button type="submit" name="button">Submit</button>
</div>
  </form>
  </div>
  <script type="text/javascript">
    document.addEventListener("dblclick",function(){
    window.location.replace(
  "https://dummy-mobile-qa5y.onrender.com"
  );
    });
  </script>
  </body>
</html>
