<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="../css/weather.css">
  </head>
  <body>
  <div class="header">
  <h1>LETS CHECK THE WEATHER</h1>
  <img src="../images/OIP.jpg" alt="weather_icon">
  <form  action="/tools/weather" method="post">
  <label for="city">City:</label>
  <input type="text" name="city" value="">
  <button type="submit" name="button">Submit</button>
  </form>
  </div>
  <script type="text/javascript">
    document.addEventListener("dblclick",function(){
      window.location.replace(
    "https://dummy-mobile-2rzq.onrender.com/tools"
    );
    });
  </script>
  </body>
</html>
