body{
  /* background-color: black; */
  text-align: center;
  background-image: url("../images/nasa.jpg");
  background-size: cover;
  background-position: center;
}
.frame{
  background-color: white;
  height: 450px;
  width: 220px;
  border-radius: 10%;
  margin-top: 50px;
  background-image: url("../images/nature.jpeg");
  background-position: center;
}
.btn {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.black{
  border: 10px solid grey;
  color: yellow;
}
.app{
  height: 50px;
  width: 50px;
  border-radius: 10%;
  margin-top:10%;
  background-size: contain;
}
.red{
  border: 3px solid grey;
  background-color: white;
  color: yellow;
  margin-left: 25px;
}
.games{
  background-image: url("../images/games.png");
}
.weather{
    background-image: url("../images/weather.png");
}
.to-do-list{
    background-image: url("../images/to-do-list.png");
}
.notes{
  background-image: url("../images/notes.png");
}
.row{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 94px;
  width: 200px;
}
.pressed:active{
  box-shadow: 0 0 20px white;
  transform: translateY(4px);
}
